# House price prediction 
## This prediction is based on the data from 99 acre.com , here we will get the details of the prices of house in particular area of bangalore and based on these data we will train our model and predict the price of the house.

we will import the necessary libraries required for implementation of the model

In [1]:
import numpy as np
import pandas as pd

In [2]:
# import the data 
data = pd.read_csv('hp_data.csv')
data.head()

,Unnamed: 0,price,place,built,sqft,sale,yearsOld,floor,totalFloor,bhk
0,1341,6300000.0,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1
1,2126,11500000.0,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3
2,816,3800000.0,Whitefield,Super built-up Area,1019,Resale,1,2,5,2
3,2708,10500000.0,Ambalipura,Super built-up Area,1857,Resale,15,4,5,4
4,1041,11500000.0,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3

In [3]:
# as we can see from the data first columns is dummy data and is of no use so we can remove the first column

data = data.iloc[:,1:]

In [4]:
data .head()

,price,place,built,sqft,sale,yearsOld,floor,totalFloor,bhk
0,6300000.0,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1
1,11500000.0,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3
2,3800000.0,Whitefield,Super built-up Area,1019,Resale,1,2,5,2
3,10500000.0,Ambalipura,Super built-up Area,1857,Resale,15,4,5,4
4,11500000.0,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3

In [5]:
# enocode the String values to integer
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

data.iloc[:,1]= encoder.fit_transform(data.iloc[:,1])

In [6]:
data.head()

,price,place,built,sqft,sale,yearsOld,floor,totalFloor,bhk
0,6300000.0,2,Super built-up Area,1450,Resale,5,1,4,1
1,11500000.0,14,Super built-up Area,2190,Resale,5,3,5,3
2,3800000.0,12,Super built-up Area,1019,Resale,1,2,5,2
3,10500000.0,1,Super built-up Area,1857,Resale,15,4,5,4
4,11500000.0,14,Super built-up Area,2190,Resale,5,3,5,3

In [7]:
# create the feature and target varibles. 
X = data.drop('price',axis=1)
y= data['price']

In [8]:
# check the data 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 9 columns):
price         3500 non-null float64
place         3500 non-null int32
built         3500 non-null object
sqft          3500 non-null int64
sale          3500 non-null object
yearsOld      3500 non-null int64
floor         3500 non-null int64
totalFloor    3500 non-null int64
bhk           3500 non-null int64
dtypes: float64(1), int32(1), int64(5), object(2)
memory usage: 232.5+ KB

In [9]:
# as data contains lots of srtrig values we need to chnage the values to integer
# we will use one hot encoder. 

X = pd.get_dummies(X,drop_first=True)

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
# split the tarining and  testing data set . 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

### Create the model

In [12]:
from sklearn.linear_model import LinearRegression

linear = LinearRegression()

In [13]:
# fit the model
linear.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [14]:
y_pred = linear.predict(X_test)

In [15]:
# check the accuracy score :
from sklearn.metrics import r2_score

In [16]:
r2_score(y_test,y_pred)

0.8642199653943483

In [17]:
# 86 % score is decent one

# our model is ready ....