In [1]:
# import cassandra python package
import cassandra

In [2]:
# lets create a connection to database
from cassandra.cluster import Cluster

try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
except Exception as e:
    print('Exception orrured while creating connection')
    print(e)

In [3]:
# lets test our connection 
try:
    session.execute('select * from music_library')
except Exception as e:
    print('Error Occured ')
    print(e)

Error Occured
Error from server: code=2200 [Invalid query] message="No keyspace has been specified. USE a keyspace, or explicitly specify keyspace.tablename"

In [4]:
# as we have not created any keyspace so we got the above error. 
# lets create the keyspace. 

try:
    session.execute("""
    create keyspace if not exists learning
    with replication = 
    {'class':'SimpleStrategy','replication_factor':1}""")
except Exception as e:
    print("Error occured while creating keyspace")
    print(e)

In [5]:
# lets connect to keyspace we just created. 
try:
    session.set_keyspace('learning')
except Exception as e:
    print(e)

In [6]:
# Create table inside keyspace

query = "CREATE TABLE IF NOT EXISTS music_library "
query = query + "(year int, artist_name text, album_name text, PRIMARY KEY (year, artist_name))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [7]:
# lets check if table created
query = "select count(*) from music_library"
try:
    count = session.execute(query)
except Exception as e:
    print(e)

print(count.one())

Row(count=0)

In [8]:
# lets insert rows
query = 'INSERT INTO music_library (year, artist_name, album_name)'
query = query + ' values(%s,%s,%s)'
try:
    session.execute(query,(2019,'arijit singh', 'soulful voice 2019'))
except Exception as e:
    print(e)
    
try:
    session.execute(query,(2018,'Armaan malik', 'Hate Story 4'))
except Exception as e:
    print(e)

In [9]:
# validate the data was stored in DB
query = 'select * from music_library'
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print(row.year, "--> ", row.artist_name,"--> ", row.album_name)

2019 -->  arijit singh -->  soulful voice 2019
2018 -->  Armaan malik -->  Hate Story 4

In [10]:
# lets execute query with where clause
query = 'select * from music_library where year=2019'
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print(row.year, "--> ", row.artist_name,"--> ", row.album_name)

2019 -->  arijit singh -->  soulful voice 2019

In [11]:
# lets drop the table as it was for Demo 
query = 'DROP TABLE music_library'
try:
    session.execute(query)
except Exception as e:
    print(e)